<h1 class="dash-heading"> <%= current_user.first_name.capitalize%>'s Dashboard </h1>

<div class="dash-container">
   <div class="dash-item">
    <h2 class="dash-item-heading">My offers</h2>
    <div class="reservation-info">
      <% if @my_offers == [] %>
        <h4 class="res-heading">No offers</h4>
      <% end %>
      <% @my_offers.each do |offer| %>
          <div>
            <%= link_to offer_path(offer) do %>
              <h4><%= offer.name.upcase %></h4>
            <% end %>
            <p><%= offer.description %></p>
          </div>
          <p class="card-price"><%= offer.price.to_i %>€ / day</p>
    <% end %>
    </div>
    <%= link_to "Create an Offer", new_offer_path, class: "nav-link dash-button", id: "create-offer-btn"%>
  </div>
  <div class="dash-item">
    <h2 class="dash-item-heading">My reservations</h2>
    <% if @my_outgoing_reservations == [] %>
      <h4 class="res-heading">No reservations</h4>
    <% end %>
      <% @my_outgoing_reservations.each do |reservation| %>
            <div class="reservation-info">
              <div>
              <%= link_to offer_path(reservation.offer) do %>
                <h4 class="res-heading"><%= reservation.offer.name.upcase %></h4>
              <% end %>
                <p>Rented from: <i class="dashboard-avatar"> <%= reservation.offer.user.first_name.chars.first.capitalize %><%= reservation.offer.user.last_name.chars.first.capitalize %> </i> </p>
                <p >Location: <i class="fas fa-map-pin"></i> </i><%= reservation.offer.user.address.capitalize %> </p>
                <p> Dates: <i class="far fa-calendar-alt"></i> </i><%= reservation.start_date.to_date.to_formatted_s(:long_ordinal) %> - <%= reservation.end_date.to_date.to_formatted_s(:long_ordinal) %></p>
              </div>
              <p> Total price </p>
            </div>
      <% end %>
    <%= link_to 'Find a new offer', offers_path, class: "back-button" %>
  </div>

  <div class="dash-item">
    <h2 class="dash-item-heading">Incoming Reservations</h2>
    <div class="reservation-info">
      <% if @my_incoming_reservations == [] %>
        <h4 class="res-heading">No reservations</h4>
      <% else %>
      <% @my_incoming_reservations.each do |reservation| %>
        <%= link_to offer_path(reservation.offer) do %>
          <div>
              <h2><%= reservation.offer.name.upcase %></h2>
              <p><%= reservation.user.first_name.capitalize %> wants to reserve your <%= reservation.offer.equipment_type %> from <%= reservation.start_date.to_date.to_formatted_s(:long_ordinal) %> to <%= reservation.end_date.to_date.to_formatted_s(:long_ordinal) %></p>
          </div>
        <% end %>
        <% if reservation.status == "Pending" %>
          <div class="accept-reject-btns">
            <%= link_to accept_reservation_path(reservation), method: 'patch', class: "accept-btn" do %>
              ACCEPT
            <% end %>
            <%= link_to reject_reservation_path(reservation), method: 'patch', class: "reject-btn" do %>
              REJECT
            <% end %>
          </div>
        <% else %>
          <p>You've <%= reservation.status %> the reservation </p>
        <% end %>
      <% end %>
    <% end %>
  </div>
</div>
