<div class="navbar navbar-expand-sm navbar-light navbar-lewagon">
  <div class="container">
    <%= link_to root_path, class: "navbar-brand" do %>
      <i class="fas fa-skiing-nordic"></i>
      Sportify-736
    <% end %>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <%= link_to "Home", root_path, class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Create an Offer", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Dashboard", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Log In", "#", class: "nav-link" %>
        </li>
        <li class="nav-item">
          <%= link_to "Sign Up", "#", class: "nav-link" %>
        </li>
      </ul>
    </div>
  </div>
</div>
