<div class="banner">
  <div class="container">
    <% if user_signed_in? %>
      <h1>Welcome to Sportify-736, <strong><%= current_user.first_name.capitalize %></strong>!</h1>
      <br>
    <% else %>
      <br>
      <h1>Sportify-736 makes <strong>sports</strong> easier!</h1>
    <% end %>
    <p>Rent sports equipment from the sports lovers near you.</p>
    <br>
    <div class="search-container">
      <%= form_tag offers_path, method: :get do %>
      <div class="one">
        <%= text_field_tag :query,
          params[:query],
          class: "form-control",
          placeholder: "Find your favorite sports equipment!"
        %>
      </div>
      <div class="two">
        <%= text_field_tag :location,
          params[:location],
          class: "form-control",
          placeholder: "Enter your location"
        %>
      </div>
      <div>
        <%= button_tag(type: "submit", class: "search-button") do %>
        <i class="fas fa-search"></i>
        <% end %>
      </div>
    <% end %>
    </div>
    <%= link_to "Not sure? See all available offers", offers_path, class: "offers-link-homepage" %></p>
  </div>
</div>


<% if user_signed_in? %>
  <h2 class="inspiration-heading">Need inspiration? Discover sports equipment rentals near <%= current_user.address.capitalize %> 👇</h2>
<% else %>
  <h2 class="inspiration-heading">Need Inspiration? Browse what other users have to offer 👇 </h2>
<% end %>

<div class="homepage-cards container">
  <div class="homepage-card">
    <%= link_to "/offers?query=cycling&location=#{current_user.address if user_signed_in?}&button=" do %>
      <%= image_tag "cycling.svg", alt: "cycling img" %>
    <% end %>
    <p>Cycling</p>
  </div>
  <div class="homepage-card">
    <%= link_to "/offers?query=ball&location=#{current_user.address if user_signed_in?}&button=" do %>
      <%= image_tag "ball.svg", alt: "ball img" %>
    <% end %>
    <p>Ball Games</p>
  </div>
  <div class="homepage-card">
    <%= link_to "/offers?query=snow&location=#{current_user.address if user_signed_in?}&button=" do %>
      <%= image_tag "snow.svg", alt: "snow img" %>
    <% end %>
    <p>Winter Sports</p>
  </div>
</div>
