<div class="banner" style="background-image: url(https://images.unsplash.com/photo-1551524559-8af4e6624178?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=1026&q=80);">
  <div class="container">
    <% if user_signed_in? %>
      <h1>Welcome to Sportify-736, <strong><%= current_user.first_name.capitalize %></strong>!</h1>
      <br>
    <% else %>
      <br>
      <h1>Sportify-736 makes <strong>sports</strong> easier!</h1>
    <% end %>
    <p>Rent sports equipment from the sports lovers near you.</p>
    <br>
    <%= link_to "See all offers!", offers_path, id: "see-offers-btn" %>
  </div>
</div>
<div>
  <%= form_tag offers_path, method: :get do %>
  <%= text_field_tag :query,
    params[:query],
    class: "form-control",
    placeholder: "Find an offer"
  %>
  <%= submit_tag "Search", class: "btn btn-primary" %>
<% end %>
</div>
<div class="homepage-cards container">
  <div class="homepage-card">
    <%= image_tag "cycling.svg", alt: "cycling img" %>
  </div>
  <div class="homepage-card">
    <%= image_tag "ball.svg", alt: "ball img" %>
  </div>
  <div class="homepage-card">
    <%= image_tag "snow.svg", alt: "snow img" %>
  </div>
</div>
