<%= link_to offer_path(offer) do %>
  <div class="card-product">
    <% if offer.photos.attached? %>
      <%= cl_image_tag offer.photos[0].key, height: 300, width: 400, crop: :fill %>
    <% else  %>
      <%= image_tag "nophoto.svg", alt: "no photo submitted img" %>
    <% end %>
    <div class="card-product-infos">
      <div>
        <h2><%= offer.name.upcase %></h2>
        <p>Rented by <%= offer.user.first_name.capitalize %>, <%= offer.user.address.capitalize %></p>
      </div>
      <p class="card-price"><%= offer.price.to_i %>€ / day</p>
    </div>
  </div>
<% end %>
