

<div class="container show-offer">
  <div class="show-offer-top">
    <%= link_to 'Back to Offers', offers_path, class: "back-button" %>
    <p class="show-offer-price"> <%= @offer.price.round %>€ / day</p>
  </div>
    <div class="show-images">
      <% if @offer.photos.attached? %>
          <% @offer.photos.each do |photo| %>
            <%= cl_image_tag photo.key %>
          <% end %>
        <% else  %>
          <%= image_tag "nophoto.svg", alt: "no photo submitted img" %>
          <%# <img src="https://images.unsplash.com/photo-1446776811953-b23d57bd21aa?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=400&q=80" alt ="pic" class="border"> %>
        <% end %>
    </div>
  <div class="show-page-flex">
    <div class="show-page-description">
      <div>
        <h2> <%= @offer.name %> </h2>
        <p class="show-equipment-type"> <%= @offer.equipment_type %> </p>
        <p class="show-offer-description"> <%= @offer.description.length > 0 ? @offer.description : "No description." %> </p>
      </div>
      <p class="show-offer-owner"> Rented out by: <%= @offer.user.first_name.capitalize %> <%= @offer.user.last_name.first.capitalize %>. </p>
    </div>
    <% if @reservation.id %>
      <div class="show-confirmation">
        <% if @reservation.status == "accepted" %>
          <p class="message"> You've successfully rented <%= @offer.equipment_type.downcase %> from <%= @offer.user.first_name.capitalize %> for the following dates: </p>
          <p><%= @reservation.start_date.to_date.to_formatted_s(:long_ordinal) %> - <%= @reservation.end_date.to_date.to_formatted_s(:long_ordinal) %></p>
        <% elsif @reservation.status == "Pending" %>
          <p class="message">We've sent your request to <%= @offer.user.first_name.capitalize %>.</p>
        <% end %>

      </div>
    <% else %>
      <div id="reservation-form">
        <h3 class="form-heading">Rent <%= @offer.user.first_name.capitalize %>'s <%= @offer.equipment_type.downcase %> now! </h3>
        <%= simple_form_for [@offer, @reservation], url: reservations_offer_path(@offer) do |f| %>
          <div class="form-dates">
            <%= f.input :start_date, as: :date, html5: true, label: "From:" %>
            <%= f.input :end_date, as: :date, html5: true, label: "To:" %>
          </div>
          <%= f.submit "Make a Reservation", class: "form-submit-btn" %>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
