
<div class="card">
<h2> <%= @offer.name %> </h2>

<p class ="card-text"> <%= @offer.description %> </p>
<p class ="card-text"> <%= @offer.equipment_type %> </p>
<p class ="card-text"> <%= @offer.price %> </p>
<p class ="card-text"> <%= @offer.user %> </p>

</div>
